{% extends 'base.html' %}
{% block title %} SDT {% endblock %}
{% block modal %}
    <!-- Modal daftar -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/add_user" class="was-validated", method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Device</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 mt-3">
                            <label for="group" class="form-label">Group</label>
                            <input type="text" class="form-control" id="group" name="group" required>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="hastag" class="form-label">Hastag</label>
                            <input type="number" class="form-control" id="hastag" name="hastag" required>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="imei" class="form-label">Imei</label>
                            <input type="number" class="form-control" id="imei" name="imei" required>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="macaddr" class="form-label">Mac Address</label>
                            <input type="number" class="form-control" id="macaddr" name="macaddr" required>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="msidn" class="form-label">Msidn</label>
                            <input type="number" class="form-control" id="msidn" name="msidn" required>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="status" class="form-label">Status Device</label>
                            <input type="text" class="form-control" id="status" name="status" required>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="unit" class="form-label">Unit ID</label>
                            <input type="text" class="form-control" id="unit" name="unit" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" data-bs->Submit</button>
                    </div>
                </div>
                <div data-bs-toggle="modal" data-bs-target="#popup"></div>
            </form>  
        </div>
    </div>

{% endblock %}
{% block head %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid py-3">
            <a class="navbar-brand" href="/">
                    <img src="https://raw.githubusercontent.com/Hendra92510/SDPT/main/templates/Logo-Baru-Himpunan-.png" alt="" width="35" height="35"> 
                SDT
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="./datadeviceDami">Data Device</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/datapenggunaDami">Data Pengguna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/absen?kondisi=true">Absen</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="./report">Report</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    
    Selamat datang Home

{% endblock %}