{% extends 'base.html' %}
{% block content %}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/add_user" class="was-validated", method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Device</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <label for="group" class="form-label">Group</label>
                        <input type="text" class="form-control" id="group" name="group" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="hastag" class="form-label">Hastag</label>
                        <input type="number" class="form-control" id="hastag" name="hastag" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="imei" class="form-label">Imei</label>
                        <input type="number" class="form-control" id="imei" name="imei" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="macaddr" class="form-label">Mac Address</label>
                        <input type="number" class="form-control" id="macaddr" name="macaddr" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="msidn" class="form-label">Msidn</label>
                        <input type="number" class="form-control" id="msidn" name="msidn" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="status" class="form-label">Status Device</label>
                        <input type="text" class="form-control" id="status" name="status" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="unit" class="form-label">Unit ID</label>
                        <input type="text" class="form-control" id="unit" name="unit" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-bs->Submit</button>
                </div>
            </div>
            <div data-bs-toggle="modal" data-bs-target="#popup"></div>
        </form>  
    </div>
</div>

<div class="container-fluid">
    <h1>Employee Motion Control</h1>
    <div class="d-flex justify-content-end py-2">
        <!-- TOMBOL POPUP DAFTAR -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class='bx bx-plus'></i>
            Add Device
        </button>
        <!-- <button type="submit" class="btn btn-primary"> <i class='bx bx-plus'></i>Add Device</button> -->
    </div>
    <form method="POST" action="{{ url_for('search')}}" class="d-flex justify-content-start py-3">
        <div class="col-auto">
            <input class="form-control me-2" type="number" placeholder="Search Hastag.." aria-label="Search" name="search">
        </div>
            <div class="col-auto">
            <button class="btn btn-primary mb-3" type="submit">Search</button>
        </div>
    </form>

    <div class="alert alert-warning" role="alert">
        Search result for Hastag : <b>{{src}}, </b> klik <a href="/page{{pages}}" class="alert-link"> here </a> To back.
    </div>
    
    <table id="myTable" class="table table-borderless">
        <thead class="table-light border-0 ">
            <tr>
                <th scope="col ">GROUP</th>
                <th scope="col ">HASTAG</th>
                <th scope="col ">IMEI</th>
                <th scope="col ">MACADDR</th>
                <th scope="col ">MSIDN</th>
                <th scope="col ">STATUS</th>
                <th scope="col ">ACTION</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
{% endblock %}
