{% extends 'base.html' %}
{% block content %}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/add_user" class="was-validated", method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Device</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <label for="group" class="form-label">Group</label>
                        <input type="text" class="form-control" id="group" name="group" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="hastag" class="form-label">Hastag</label>
                        <input type="number" class="form-control" id="hastag" name="hastag" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="imei" class="form-label">Imei</label>
                        <input type="number" class="form-control" id="imei" name="imei" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="macaddr" class="form-label">Mac Address</label>
                        <input type="number" class="form-control" id="macaddr" name="macaddr" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="msidn" class="form-label">Msidn</label>
                        <input type="number" class="form-control" id="msidn" name="msidn" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="status" class="form-label">Status Device</label>
                        <input type="text" class="form-control" id="status" name="status" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="unit" class="form-label">Unit ID</label>
                        <input type="text" class="form-control" id="unit" name="unit" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-bs->Submit</button>
                </div>
            </div>
            <div data-bs-toggle="modal" data-bs-target="#popup"></div>
        </form>  
    </div>
</div>

<div class="container-fluid">
    <h1>Employee Motion Control</h1>
    <div class="d-flex justify-content-end py-2">
        <!-- TOMBOL POPUP DAFTAR -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class='bx bx-plus'></i>
            Add Device
        </button>
        <!-- <button type="submit" class="btn btn-primary"> <i class='bx bx-plus'></i>Add Device</button> -->
    </div>
    <form method="POST" action="{{ url_for('search')}}" class="d-flex justify-content-start py-3">
        <div class="col-auto">
            <input id="filter" class="form-control me-2" type="number" placeholder="Search Hastag.." aria-label="Search" name="search" onkeyup="stoppedTyping()">
        </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary mb-3" value="Search" id="search_button" onclick="verify()" disabled/> 
                <!--<button id="search_button" class="btn btn-primary mb-3" type="submit" onclick="verify()" disabled>Search</button>-->
            </div>
        </div>
    </form>

    <div class="alert alert-warning" role="alert">
        Search result for Hastag : <b>{{src}}, </b> klik <a href="/page{{pages}}" class="alert-link"> here </a> To back.
    </div>
    
    <table id="myTable" class="table table-borderless">
        <thead class="table-light border-0 ">
            <tr>
                <th scope="col ">GROUP</th>
                <th scope="col ">HASTAG</th>
                <th scope="col ">IMEI</th>
                <th scope="col ">MACADDR</th>
                <th scope="col ">MSIDN</th>
                <th scope="col ">STATUS</th>
                <th scope="col ">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for row in listPage %}

            <tr class="data">
                <td>{{row['GROUP']}}</td>
                <td>{{row['HASTAG']}}</td>
                <td>{{row['IMEI']}}</td>
                <td>{{row['MACADDR']}}</td>
                <td>{{row['MSIDN']}}</td>
                <td>
                    {% if row['STATUSDEVICE'] == 'NOT ALLOCATED' %}
                    <span class="badge rounded-pill bg-danger">{{row['STATUSDEVICE']}}</span>
                    {% elif row['STATUSDEVICE'] == 'ALLOCATED' %}
                    <span class="badge rounded-pill bg-success">{{row['STATUSDEVICE']}}</span>
                    {% else %}
                    <span class="badge rounded-pill bg-warning">{{row['STATUSDEVICE']}}</span>
                    {% endif %}
                </td>
                <td class="flex-row justify-content-between">
                    <!-- <form action="/users" method="post"> -->
                        <a href="/info/{{row['_id']}}" class='btn p-1 bx bxs-info-circle bx-sm text-primary'></a>
                        <a href="/edit/{{row['_id']}}" class='btn p-1 bx bxs-edit bx-sm text-primary'></a>
                        <a href="/delete/{{row['_id']}}/page{{pages}}" class='btn p-1 bx bxs-trash bx-sm text-danger'></a>
                    <!-- </form> -->
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}

<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item {% if pages-1 == 0 %} disabled {% endif %}">
        <a class="page-link" href="./page{{pages-1}}">Previous</a>
      </li>
      {% for i in range(totalPages) %}
        <li class="page-item {% if i+1 == pages %} active {% endif %}" aria-current="page">
            <a class="page-link" href="./page{{ i+1 }}">{{ i+1 }}</a>
        </li>
      {% endfor %}
      <li class="page-item {% if (pages == totalPages) %} disabled {% endif %} "> 
        <a class="page-link" href="./page{{pages+1}}">Next</a>
      </li>
    </ul>
</nav>

{% endblock %}

{% block script %}
    <script>
        const input1 = document.querySelector("#filter");  
        const btn = document.querySelector("#search_button");    
        
        // Use the same validation handler for both inputs
        input1.addEventListener("input", validate); 
        
        function validate(){
        // Check that neither input is empty
        if(input1.value === ""){
            btn.setAttribute("disabled","disabled");
        } else {
            btn.removeAttribute("disabled");  
        }
        }    
    </script>

{% endblock %}